/* Empty. Add your own CSS if you like */
#alertUsr, #alertPass, #alertAccDsbl, #alertLogDet, #alertUnConSrv, #alertUnAutSrv, #alertLogout {
 display: none;
 min-width: 250px;
 margin-left: -125px;
 background-color: #333;
 color: #fff;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 2147483646;
 left: 50%;
 bottom: 30px;
}

#userInput {
  resize: none !important;
  overflow: vertical !important;
}

#chatsArea {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  top: 100px;
  bottom: 121px;
}

#tabsDiv {
  width: 5000% !important;
}
.chatContainer {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  top: 160px;
  bottom: 151px;

.chat-list {
  margin: 20px 0px 0px 8px;
  position: relative;
  min-height: 55px;
}
.chat-content {
  width: calc(100% - 80px);
  background: $primary-color;
  float: left;
  padding: 5px 8px;
  color: $white;
  @include border-radius(5px);
  -webkit-box-shadow: 1px 5px 8px #cccccc;
  -moz-box-shadow: 1px 5px 8px #cccccc;
  -ms-box-shadow: 1px 5px 8px #cccccc;
  box-shadow: 1px 5px 8px #cccccc;
}
    /*&:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background: $white;
      top: 7px;
      left:-5px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: $primary-color;
      z-index: 1;
    }*/
.chat-title {
  margin-bottom:9px !important;
}
.chat-icon {
  position: absolute;
  left: 0;
  top: 0px;
  width: 45px;
  height: 45px;
  text-align: center;
  @include border-radius(50%);
  background: $primary-color;
}
.fa {
  line-height: 45px;
  font-size: 25px;
  color: #fff;
}

.chat-list-alter {
  margin: 20px 7px 0px;
  position: relative;
  min-height: 55px;
}
.chat-content {
  width: calc(100% - 70px);
  background: $secondary-color;
  float: right;
  padding: 5px 8px;
  color: $white;
  @include border-radius(5px);
  -webkit-box-shadow: 1px 5px 8px #cccccc;
  -moz-box-shadow: 1px 5px 8px #cccccc;
  -ms-box-shadow: 1px 5px 8px #cccccc;
  box-shadow: 1px 5px 8px #cccccc;
}
    /*&:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background: $white;
      top: 7px;
      right: -5px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background: $secondary-color;
      z-index: 1;
    }*/
.chat-icon {
  position: absolute;
  right: 0;
  top: 0px;
  width: 45px;
  height: 45px;
  text-align: center;
  @include border-radius(50%);
  background: $secondary-color;
}
.fa {
  line-height: 45px;
  font-size: 25px;
  color: #fff;
}

#alertOnline, #alertOffline {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 2147483646;
   left: 50%;
   bottom: 30px;
}
